<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>List Toko</title>
  </head>
  <body>

<h3 style="padding: 25px;"> Creat Toko Baru</h3>
<form method="POST" enctype="multipart/form-data" style="padding: 25px;">
    {% csrf_token %}

    {{form.as_p}}

    <button class="btn btn-primary" type="submit">Submit</button>
</form>
</body>
</html>