<table class="table">
    <tbody>
    <tr>
          <td>{{product.nama_produk}}</td>
    </tr>
    <tr>   
          <td>{{product.harga_produk}}</td>
    </tr>
    <tr>
          <td>{{product.nama_toko}}</td>
    </tr>
    <tr>
          <td>{{product.image}}</td>
    </tr>
    <tr>
          <td>{{product.keterangan}}</td>
    </tr>
    </tbody>    
  </table>

<div>
    <p>apakah anda yakin ingin menghapus informasi ini? </p>
</div>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <button class="btn btn-primary" type="submit">Yakin</button>
</form>