<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Product</title>
</head>
<body>
    <div class="container">
        <h3>List Product</h3>
        <br></br>
        <a class="btn btn-primary" href="{% url 'produk_create' %}" role="button">Tambah Product Baru</a>
        <br> </br>
        <div class="col float-right">
            <form method="POST" action="{% url 'portal' %}">
                {% csrf_token %}
                <input type="text" name="keyword1" placeholder="Search anything">
                <input type="submit" value="Search">
            </form>
        </div>

    <table class="table">
        {% for item in semua_produk %}
          <tr>
            <td>{{item.nama_produk}}</td>
            <td>{{item.harga_produk}}</td>
            <td>{{item.nama_toko}}</td>
            
            <td>
                <a class="btn btn-warning" href="{% url 'product_update' item.id %}" role="button">Edit</a>
                <a class="btn btn-danger" href="{% url 'product_delete' item.id %}" role="button">Delete</a></td>
          </tr>
          {% endfor %}
      </table>
</body>
</html>