<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h3>List Toko</h3>
        <br></br>
        <a class="btn btn-primary" href="{% url 'toko_create' %}" role="button">Tambah Toko Baru</a>
        <br> </br>
        <div class="col float-right">
            <form method="POST" action="{% url 'portal' %}">
                {% csrf_token %}
                <input type="text" name="keyword" placeholder="Search anything">
                <input type="submit" value="Search">
            </form>
        </div>
      <table class="table">
        <thead>
            {% for item in semua_toko %}
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Harga</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{item.nama_toko}}</td>
            <td>{{item.nama_pemilik}}</td>
            <td>
                <a class="btn btn-primary" href="{% url 'product' item.id %}" role="button">Lihat toko</a>
                <a class="btn btn-warning" href="{% url 'toko_update' item.id %}" role="button">Edit</a>
                <a class="btn btn-danger" href="{% url 'toko_delete' item.id %}" role="button">Delete</a></td>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</body>
</html>