<h3> Update Product Batu</h3>
<br></br>
<br></br>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {{form.as_p}}

    <button class="btn btn-primary" type="submit">Update</button>
</form>